# Pyrogram implimantion 
pyrogram==2.0.0
tgcrypto 

# Database implimantion
pymongo
dnspython

langdetect
urlextract
requests
emojis
stellagban
pyromod==3.1.0
pykeyboard 
captcha
apscheduler
