# Pyrogram implimantion 
pyrogram 
tgcrypto 

# Database implimantion
pymongo
dnspython

langdetect
urlextract
requests
emojis
stellagban
pyromod==3.1.0
pykeyboard 
captcha
apscheduler
